body {
    font-family: Quicksand;
    background-color: #282828;
    text-align: center;
    color: gold;
    margin-top: 3rem;
}

#game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 460px;
}

h1 {
    margin-left: auto; 
    margin-right: auto;
    min-width: 400px;
    max-width: 400px;
    margin-top: 1.5rem;
}

#scores {
    flex: 1;
    min-width: 400px;
}

#scores h3 {
    text-align: right;
    margin-right: 2rem;
}

#rules {
    flex: 1;
    min-width: 400px;
}

#rules h3{
    width: 390px;
    text-align: left;
    margin-left: 2rem;
}

#scores p {
    margin-top: 2rem;
    margin-right: 2em;
    margin-bottom: 5rem;
    text-align: right;
}

#rules p {
    margin-top: 2rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    margin-left: 2rem;
    width: 230px;
    text-align: left;
}

table {
    position: relative;
    margin-left: auto; 
    margin-right: auto;
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
    max-height: 400px;
    margin-top: 1.5rem;
}

.red {
    color: rgb(155, 9, 9);
    font-weight: 1000;
}

.blue {
    color: #1469be;
    font-weight: 1000;
}
  
#board td {
    position: relative;
    width: 50px;
    height: 50px;
    border: solid 1px #666;
}
    
#column-top td {
    border: dashed 1px lightgray;
}
  
#column-top td:hover {
    background-color: gold;
    transition: all ease-in-out 0.5s;
    cursor: grab;
}

.piece {
    margin: 5px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
  
.p1 {
    background-color: rgb(155, 9, 9);
}

.p2 {
    background-color: #1469be;
}

button {
    font-family: Quicksand;
    color: gold;
    background-color: #282828;
    border-color: gold;
    cursor: pointer;
}